# All text files are normalized to LF
* text eol=lf

# Windows
*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.ttf binary
*.glb binary
*.wasm binary
*.bin binary
